<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="css/style.css">
  <body>
<h3>Are you stressed? Want to take a break from studying? Take this quiz to see what fun activity you should do AFTER you take your final!
</h3>
<form method=POST>
  <input type="submit" value="GET YOUR POST-STRESS ACTIVITY">
</form>  
  </body>
</html>
