<!DOCTYPE html>
<html>
    <head>
      <title>Stress Relief</title> 
    </head>
  
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body, html {
    height: 100%;
    margin: 0;
}

.bg {
    /* The image used */
    background-image: url("https://haleykeizurblog.files.wordpress.com/2018/08/cbk_9500.jpg?w=1400");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
</style>

<body>
<div class="bg"></div>

<p>This example creates a full page background image. Try to resize the browser window to see how it always will cover the full screen (when scrolled to top), and that it scales nicely on all screen sizes.</p>
    <body>
      <!--<h3>Your stress reliever activity is</h3>-->
      <h2> Hey <%=@the_user%>, we know all of this studying is hard work, but it will all pay off! Whenever you feel overwhelmed with all your hard work, take a break. For example, you can: <%=@stress_relief_activity%>!! Treat yourself. You’ve earned it!</h2>
    </body>

</html>
  